@model Hexace.Models.AboutModel
@{
    ViewData["Title"] = "About";
}

@*<h2>@ViewData["Title"]</h2>*@

<meta name="Revisit-After" content="7 days"/>
<h2>Hexace</h2>
<h3>The game you'll love</h3>
<h4>This site is the best gamesite ever. Just kidding, but who knows</h4>
<p class="pagetext">
    This game-site has the game with the best game play you've ever had. You can trust me, really. But it is under development.
</p>
<p class="pagetext">
    Do you know what is hexes or hexagon, don't u? So it's a hex game. And if we combine it with space we would get hexace. 
    Got it?! Player can attack, control and defend zones on hexagon battlefield. Hexace has three fractions and You can play one of them.
</p>