@import url("https://fonts.googleapis.com/css?family=Varela+Round");


html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body,
html {
    padding-top: 25px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    background: #1c1d22;
    font-family: "Varela Round", sans-serif;
    color: rgba(255,255,255,.7);
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




@-webkit-keyframes line {
    0% {
        background-position-x: 390px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

.pagetext {
    color: rgba(255,255,255,.7);
    padding: 30px 100px;
}

.flexContainer {
    display: flex;
}
.subContainer {
    margin: 0 auto;
    width: 20%;
    display: flex;
    flex-direction:row;
}

.image {
    max-width:70%
}
@media only screen and (max-width: 1920px) {
    .flexContainer {
        width: 100%;
    }
}