@model Hexace.Models.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}
@*<h2>@ViewData["Title"]</h2>*@

<div class="flexContainer">
    <div class="subContainer">
        <img class="image" src="images/hex_turquoise.svg" alt="Turquoise Team">
        <div class="statisticsNumbers">
            Points: @Model.Statistics["Turquoise"]
        </div>
    </div>
    <div class="subContainer">
        <img class="image" src="images/hex_purple.svg" alt="Purple Team">
        <div class="statisticsNumbers">
            Points: @Model.Statistics["Purple"]
        </div>
    </div>
    <div class="subContainer">
        <img class="image" src="images/hex_burgundy.svg" alt="Burgundy Team">
        <div class="statisticsNumbers">
            Points: @Model.Statistics["Burgundy"]
        </div>
    </div>
</div>