@page
@model Hexace.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@Model.Message</h3>

<p class="pagetext">
    This game is the best game you've ever played. trust me. really. But the game is not developed yet.
</p>
