@page
@model Hexace.Pages.IndexModel
@{
    ViewData["Title"] = "Play";
}

<div class="canvas-container">
    <canvas id="hexagonCanvas" width="700" height="700">
        Извините, ваш браузер не поддерживает тег canvas
    </canvas>
</div>

<noscript><div>Извините, требуется включённый Javascript для работы приложения!</div></noscript>
