@page
@model Hexace.Pages.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<h2>@ViewData["Title"]</h2>



<div class="leaderboardTable">
    <table>
    </table>
    <table>
        <tr>
            <td><img class="leaderboardImage" src="images/hex_turquoise.svg" alt="Turquoise Team"></td>
            <td><img class="leaderboardImage" src="images/hex_turquoise.svg" alt="Turquoise Team"></td>

            <td><img class="leaderboardImage" src="images/hex_purple.svg" alt="Purple Team"></td>
            <td><img class="leaderboardImage" src="images/hex_purple.svg" alt="Purple Team"></td>

            <td><img class="leaderboardImage" src="images/hex_burgundy.svg" alt="Burgundy Team"></td>
            <td><img class="leaderboardImage" src="images/hex_burgundy.svg" alt="Burgundy Team"></td>

        </tr>
    </table>
    <table>
        <tr>
            <td>#</td>
            <td colspan="2">Nickname</td>
            <td colspan="2">Corporation</td>
            <td>Rating</td>
        </tr>
        <tr>
            <td>1</td>
            <td colspan="2">Player 1</td>
            <td colspan="2">-</td>
            <td>208</td>
        </tr>
        <tr>
            <td>2</td>
            <td colspan="2">Player 2</td>
            <td colspan="2">Aces</td>
            <td>140</td>
        </tr>

        <tr>
            <td>3</td>
            <td colspan="2">Player 3</td>
            <td colspan="2">Aces</td>
            <td>130</td>
        </tr>
        <tr>
            <td>4</td>
            <td colspan="2">Player 4</td>
            <td colspan="2">-</td>
            <td>92</td>
        </tr>
        <tr>
            <td>5</td>
            <td colspan="2">Player 5</td>
            <td colspan="2">Sharks</td>
            <td>76</td>
        </tr>
    </table>
</div>
