@page
@model Hexace.Pages.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}
<h2>@ViewData["Title"]</h2>


<div class="statisticsTable">
    <table>
        <tr>
            <td><img class="statisticsImage" src="images/hex_turquoise.svg" alt="Turquoise Team"></td>
            <td><img class="statisticsImage" src="images/hex_purple.svg" alt="Purple Team"></td>
            <td><img class="statisticsImage" src="images/hex_burgundy.svg" alt="Burgundy Team"></td>
        </tr>
        <tr>
            <td>Points: 280</td>
            <td>Points: 350</td>
            <td>Points: 480</td>
        </tr>
    </table>
</div>